#caixa-externa{
  background-color:purple;
}
.caixa{
  background-color: blue;
  padding: 10px;
}
p{
  color: yellow;
  margin: 0;
  padding: 0;
}
.texto-branco{
  color:white;
}

.caixa-interna{
  padding: 1px;
  background-color: red;
}