#item4 {
    display: flex;
    flex-direction: column;
    background: rgba(156, 153, 153, 0.24);
    border-radius: 16px;
    padding: 30px;
  
    h1 {
      font-size: 1.3em;
    }
  
    nav {
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: 1.3em;
  
      a {
        text-decoration: inherit;
        color: #d50606;
      }
    }
  }
  