h2, h5{
  color: rgb(141, 141, 2);
}
.Roupas{
  color:blue;
}
li {
  color:orange;
}
.lista li.usada{
  color: purple;
}

.alimentos{
  color: aquamarine;
}

.moveis{ 
  color: blue;
}

.moveis li.usada{
  color: greenyellow;
}

.tipoMaterial {
  color: black;
}