@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
/* Element Selector */
h3 {
  color:rgba(26, 24, 24, 0.582);
}

/*class selector, pode ser aplicado em muitos elementos*/
.nots {
  color:green;
  font-size: 15px;
}
h1 {
  font-size: 150px;
  color: rgb(18, 10, 92);
  ;
}
/* id selector, deve ser aplicado em apenas *1* elemento*/
#sulbahia {
  color:rgb(231, 11, 121);
}

/*atribute selector, seleciona todos os elementos que tenham o atributo lang*/
li {
  font-size: 30px;
  color:blue;

}

/*universal selector*/
* {
  background-color:FAF3DF;
  font-family: 'Kdam Thmor Pro', sans-serif;
}