* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Roboto;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: lightblue;

  font-size: 2.3em;

  height: 100px;
  font-family:fantasy ;
}

body {
  background-color: lightgoldenrodyellow;
  
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 20%;
  gap: 9px;
  

  padding: 10px;
  height: auto;
}

.container > div {
  display: flex;
  flex-direction: column;
  

  background: rgba(156, 153, 153, 0.24);
  border-radius: 16px;
  padding: 30px;
}

#item1 nav,
#item4 nav,
.container-news,
.container-results {
  display: flex;
  flex-direction: column;

  height: 85%;
  justify-content: space-between;
  font-size: 1.3em;
  margin-top: 15px;
}

#item4 nav {
  gap: 10px;
}

.container-news,
.container-results {
  font-size: 12px;
}
#item3 img {
  margin-top: 15px;
  height: 100px;
}
#item2 button {
  border: none;
  background-color: #79f4f4;
  color: rgb(10, 10, 10);
  cursor: pointer;

  font-weight: bold;

  margin-top: 15px;
  border-radius: 5px;
  height: 35px;
}



#item1 nav a,
#item4 nav a {
  text-decoration: inherit;
  color: #d50606;
}

.news a {
  color: rgb(25, 43, 134);
}

#item5 {
  grid-area: 2 / 2 / span 1 / span 2;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;

  background-color: lightblue;

  width: 100vw;
  bottom: 0;
  height: 50px;

  font-size: 2em;
  font-family: fantasy;
}
@media (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  footer {
    position: static;
  }
}